section(class="about")
  div(class="about__container")
    h4(class="about__title") Физкульт привет!
    p(class="about__desc") Меня зовут Настя, я рада нашему знакомству! Хм..тут надо сказать пару слов о себе, да? Тогда начну с того, что по первому образованию я журналист. Второе образование –
      span(class="pink") колледж фитнеса и бодибилдинга им. Бена Вейдера
      span  по специальности тренер и нутрициолог.
    p(class="about__desc") После рождения дочки я, как большинство девушек, мечтала скорее прийти в форму, но возможности ходить в тренажерный зал не было. Эффективно заниматься дома без громоздкого и дорогостоящего «железа» мне помогли эспандеры.
    p(class="about__desc") Спустя некоторое время я начала вести свой блог в Instagram, в котором рассказывала, как прийти в форму не выходя из дома, провела более 6 бесплатных марафонов трансформации тела, выпустила свое фирменное оборудование –
      span(class="pink")  яркие фитнес ленты и эспандеры RAKAMAKAFIT.
    p(class="about__desc") Что меня мотивирует? Любовь к своему делу и ваши потрясающие результаты!
    p(class="about__desc") В программу тренировок и питания RAKAMAKAFIT ONLINE я вложила всю свою душу и знания! Буду рада видеть тебя в своей команде спортивных и жизнерадостных!
    a(class="btn about__btn" href="#") Читай мой фитнес-блог в инстаграме
  div(class="slider slider-first")
    img(class="slider-first__image" src="img/nastya-3@1x.jpg" srcset="img/nastya-3@2x.jpg 2x")
    img(class="slider-first__image" src="img/nastya-3@1x.jpg" srcset="img/nastya-3@2x.jpg 2x")
    img(class="slider-first__image" src="img/nastya-3@1x.jpg" srcset="img/nastya-3@2x.jpg 2x")
