section(class="faq")
  h4(class="faq__title") FAQ
  div(class="accordion-container")
    button(class="accordion" type="button") Выбранный вопрос с развёрнутым ответом
      span(class="indicator")
    div(class="panel") После заполнения анкеты, мы формируем для тебя индивидуальный курс тренировок и питания. Тебя ждет от 4 тренировки в неделю, программа питания на каждый день, мотивационные лекции и статьи, удобное отслеживание результатов.
    button(class="accordion" type="button") Я боюсь, что эспандер порвется и ударит меня
      span(class="indicator")
    div(class="panel") После заполнения анкеты, мы формируем для тебя индивидуальный курс тренировок и питания. Тебя ждет от 4 тренировки в неделю, программа питания на каждый день, мотивационные лекции и статьи, удобное отслеживание результатов.
    button(class="accordion" type="button") Можно ли заниматься с эспандерами мужчинам?
      span(class="indicator")
    div(class="panel") После заполнения анкеты, мы формируем для тебя индивидуальный курс тренировок и питания. Тебя ждет от 4 тренировки в неделю, программа питания на каждый день, мотивационные лекции и статьи, удобное отслеживание результатов.