section(class="features")
  h6(class="visually-hidden") Преимущества
  ul(class="features__list")
    li(class="features__item feature")
      h5(class="feature__title") Самые эффективные тренировки
      p(class="feature__desc") Авторский курс видео-упражнений для максимально   достижения результата. Ты хочешь
        b  похудеть или набрать массу?
        span  У тебя
        b  варикоз, диастаз или болят колени?
        span  Все это мы учтем!
    li(class="features__item feature")
      h5(class="feature__title") Разумное питание
      p(class="feature__desc")  Рацион на каждый день с учетом твоих
        b  индивидуальных
        span  предпочтений. Доступно целых 5 программ:
        b  стандартная, диабетик, вегетарианец, веган, без лактозы.
        span  Бонусом я поделюсь с тобой базой вкусных и полезных рецептов.
    li(class="features__item feature")
      h5(class="feature__title") Результат, которого ждешь
      p(class="feature__desc")  В личном кабинете ты сможешь добавлять
        b  отчеты о своих изменениях.
        span  Это позволит отслеживать результаты и развивать дисциплину.