header(class="header")
    nav(class="nav")
        a(class="logo")
          picture
            source(media="(max-width:600px)" srcset="img/logo1@1x.png 1x, img/logo1@2x.png 2x")
            img(srcset="img/logo1@1x.png x1, img/logo1@2x.png x2" alt="RAKAMAFIT" width="131" height="37")
        button(class="btn nav__btn" type="button")
            i
            span(class="visually-hidden") Меню
        h5(class="title nav__title") 5-недельная программа тренировок и питания
          span(class="green")  Rakamakafit online
        ul(class="nav__list")
          li(class="nav__item")
            a(class="nav__link" href="#") О проекте
          li(class="nav__item")
            a(class="nav__link" href="#") Купить программу
          li(class="nav__item")
            a(class="nav__link" href="#") Результаты
          li(class="nav__item")
            a(class="nav__link" href="#") F.A.Q.
          li(class="nav__item")
            a(class="nav__link" href="#") Задать вопрос
        div(class="contacts")
          a(class="contacts__tel" href="tel:+74957874058") +7 (495) 787-40-58
          a(class="contacts__mail" href="mailto:online@rakamakafit.ru") online@rakamakafit.ru
          a(class="btn btn--contacts btn--buy" href="#") Купить