section(class="intro" id="intro")
  div(class="intro__wrapper")
    div(class="intro__container")
      h1(class="intro__title") Красивое тело за пять недель –
        span(class="green")  это реально!
      p(class="intro__desc") Кардинальное преображение ждет тебя в персональной программе тренировок и питания от Насти RAKAMAKAFIT
      a(class="btn intro__btn" href="#") Получить бесплатно
    div(class="intro__img")
      img(src="img/nastya@1x.png" srcset="img/nastya@2x.png x2" alt="RAKAMAFIT" width="531" height="599")
      a(class="btn intro__play" href="#")
        span(class="play__tip") Смотреть видео