section(class="offers" id="offers")
  h2(class="offers__title")
    span(class="green") Rakamakafit online!
    span  – это выгодно
  p(class="offers__desc") Выбери подходящий для себя вариант подключения к программе: от стандартного до бесплатного.
  ul(class="offers__list")
    li(class="offers__item offer")
      img(class="offer__img" src="img/offer1@1x.jpg" srcset="img/offer1@2x.jpg 2x" width="135" height="187" alt="программа 1")
      h4(class="offer__title") Персональная 5-недельная программа тренировок и питания RAKAMAKAFIT ONLINE
      span(class="offer__price") 1990₽
      a(class="btn btn--buy offer__btn" href="#") Купить
    li(class="offers__item offer")
      img(class="offer__img" src="img/offer2@1x.jpg" srcset="img/offer2@2x.jpg 2x" width="219" height="219" alt="программа 2")
      span(class="offer__save-money") Экономия
        b 1000₽
      h4(class="offer__title")
        span(class="pink") Набор эспандеров
        span  + персональная программа RAKAMAKAFIT ONLINE
      div(class="offer__discount") 4200₽ +
        span(class="line-through")  1990
        span(class="pink") 990₽
      span(class="offer__price") 5190₽
      a(class="btn btn--buy offer__btn" href="#") Купить
    li(class="offers__item offer")
      img(class="offer__img" src="img/offer3@1x.jpg" srcset="img/offer3@2x.jpg 2x" width="222" height="210" alt="программа 3")
      span(class="offer__save-money") Экономия
        b 3070₽
      h4(class="offer__title")
        span(class="pink") Набор эксклюзив
        span  + персональная программа RAKAMAKAFIT ONLINE
      div(class="offer__discount") 7400₽ +
        span(class="line-through") 1990
        span(class="pink")  0₽
      span(class="offer__price") 7490₽
      a(class="btn btn--buy offer__btn" href="#") Купить
