section(class="personal-cabinet")
  ul(class="personal-cabinet__list")
    li(class="personal-cabinet__item")
      p(class="personal-cabinet__desc") После заполнения анкеты, каждой участнице RAKAMAKAFIT ONLINE открывается доступ в личный кабинет на пять недель.
    li(class="personal-cabinet__item")
      p(class="personal-cabinet__desc") В нем ты найдешь курс тренировок с видео-инструкциями и индивидуальный план питания.
    li(class="personal-cabinet__item")
      p(class="personal-cabinet__desc") Тренировки обновляются еженедельно, что позволяет соблюдать режим.
    li(class="personal-cabinet__item")
      p(class="personal-cabinet__desc") Также личный кабинет включает в себя мотивационные видео, познавательные статьи и возможность отслеживать свой результат через создание отчетов.
  img(class="personal-cabinet__img" src="img/phone@1x.png" srcset="img/phone@2x.png 2x")
