section(class="success")
  div(class="success__container")
    h3(class="success__title") Истории успеха
    p(class="success__desc") Фото счастливых обладательниц оборудования RAKAMAKAFIT и участниц бесплатного марафона трансформации тела RAKAMAKAFON
  div(class="slider slider-second")
    div(class="slider-second__slide")
      div(class="bef")
        span ДО
        img(src="img/bef1@1x.jpg" srcset="img/bef1@2x.jpg 2x")
      div(class="aft")
        span ПОСЛЕ
        img(src="img/aft1@1x.jpg" srcset="img/aft1@2x.jpg 2x")
      span(class="name") Жанна
      a(class="insta-link" href="#" target="_blank") @zh_semenko
    div(class="slider-second__slide")
      div(class="bef")
        span ДО
        img(src="img/bef1@1x.jpg" srcset="img/bef1@2x.jpg 2x")
      div(class="aft")
        span ПОСЛЕ
        img(src="img/aft1@1x.jpg" srcset="img/aft1@2x.jpg 2x")
      span(class="name") Жанна
      a(class="insta-link" href="#" target="_blank") @zh_semenko
    div(class="slider-second__slide")
      div(class="bef")
        span ДО
        img(src="img/bef1@1x.jpg" srcset="img/bef1@2x.jpg 2x")
      div(class="aft")
        span ПОСЛЕ
        img(src="img/aft1@1x.jpg" srcset="img/aft1@2x.jpg 2x")
      span(class="name") Жанна
      a(class="insta-link" href="#" target="_blank") @zh_semenko
    div(class="slider-second__slide")
      div(class="bef")
        span ДО
        img(src="img/bef1@1x.jpg" srcset="img/bef1@2x.jpg 2x")
      div(class="aft")
        span ПОСЛЕ
        img(src="img/aft1@1x.jpg" srcset="img/aft1@2x.jpg 2x")
      span(class="name") Жанна
      a(class="insta-link" href="#" target="_blank") @zh_semenko