section(class="wyg")
  h5(class="title wyg__title") Подключаясь к авторской программе построения тела RAKAMAKAFIT ONLINE ты получаешь:
  div(class="wyg__container")
    h3(class="wyg__title-inner") Целых пять недель ежедневной работы над собой
    p(class="wyg__desc") После заполнения анкеты, мы формируем для тебя индивидуальный курс тренировок и питания.
    p(class="wyg__desc") Тебя ждет от 4 тренировки в неделю, программа питания на каждый день, мотивационные лекции и статьи, удобное отслеживание результатов.
    p(class="wyg__desc wyg__desc--icon") 80% упражнений проходят с эспандерами и фитнес лентами RAKAMAKAFIT
  div(class="wyg__promo")
    img(class="wyg__image" src="img/nastya-2@1x.png" srcset="img/nastya-2@2x.png 2x" width="316" height="333" alt="Nastya")
