doctype html
html(lang='ru')
  head
    include includes/head
  
  body(class="page")
    include includes/header
    main(class="main")
      include includes/intro
      include includes/offers
      include includes/wyg
      include includes/features
      include includes/personal-cabinet
      include includes/about
      include includes/success
      include includes/faq
    div(class="wrapper-black")
    include includes/scripts
