@import 'includes/normalize.styl'
@import 'includes/variables.styl'
@import 'includes/page.styl'
@import 'includes/btn.styl'
@import 'includes/header.styl'
@import 'includes/intro.styl'
@import 'includes/offers.styl'
@import 'includes/wyg.styl'
@import 'includes/features.styl'
@import 'includes/personal-cabinet.styl'
@import 'includes/about.styl'
@import 'includes/slider.styl'
@import 'includes/success.styl'
@import 'includes/faq.styl'
@import 'includes/color.styl'