.about__container
  padding 50px 6% 0

  @media screen and (min-width: 1200px)
    padding 0
    width 648px
    margin-left auto
    flex-shrink 0

.about__wrapper

  @media screen and (min-width: 1200px)
    width 1200px
    margin 0 auto
    display flex
    padding 112px 0 117px

.about__title
  margin 0
  font-size 34px
  line-height 46px
  font-weight 700
  font-style italic
  color $black
  text-transform uppercase
  margin-bottom 44px

  @media screen and (min-width: 1200px)
    font-weight 36px
    line-height 49px
    margin-bottom 33px

.about__desc
  margin 0
  font-size 15px
  line-height 25px
  color $black
  opacity 0.8
  margin-bottom 44px

  @media screen and (min-width: 1200px)
    font-size 18px
    line-height 28px
    margin-bottom 20px

.about__btn
  width 100%
  border 1px solid $pink
  padding 10px
  font-size 9px
  line-height 16px
  letter-spacing 0.3px
  color $pink
  font-weight 700
  text-transform uppercase
  display flex
  align-items center
  justify-content center

  @media screen and (min-width: 1200px)
    width 442px
    height 81px
    border 2px solid $pink
    font-size 15px
    line-height 26px
    padding 5px

.about__btn img
  width 23px
  height 23px
  margin-right 10px

  @media screen and (min-width: 1200px)
    height 36px
    width 36px
    margin-right 20px