.features
  padding 37px 6% 21px 13%

.features__list
  list-style none
  margin 0
  padding 0

.feature__title
  font-size 18px
  line-height 24px
  color $pink
  font-weight 700
  margin 0
  margin-bottom 15px

.feature__desc
  font-size 15px
  line-height 25px
  color $black
  opacity 0.8
  font-weight 400
  margin 0
  margin-bottom 35px