.header
  width 100%
  position absolute
  top: 0
  left 50%
  z-index 4
  transform translateX(-50%)
  transition background 0.6s ease

  @media screen and (min-width: 1200px)
    background linear-gradient(180deg, #2b2b2b, #2b2b2b 55%, #000000 55%, #000000);

.logo
  margin-left 7px

  @media screen and (min-width: 1200px)
    order -4

.logo img

  @media screen and (min-width: 1200px)
    width 164px
    height 48px

.nav
  position relative
  display flex
  flex-direction column
  padding 26px 5%

  @media screen and (min-width: 1200px)
    width 1200px
    padding 0
    margin 0 auto
    flex-direction row
    flex-wrap wrap
    padding-top 19px
    align-items center


.nav__btn
  position: absolute;
  top: 30px;
  right: 6%
  z-index: 2;
  display: block;
  width: 26px;
  height: 26px;

  @media screen and (min-width: 1200px)
    display none

.nav__btn i
  position relative
  display block
  width 25px
  height 3px
  border-radius 5px
  background $white
  transition width 0.4s ease

.nav--opened .nav__btn i
  width 0

.nav__btn i::before
  content ''
  position absolute
  width 25px
  height 3px
  border-radius 5px
  background $white
  top 11px
  left 0
  transition all 0.3s ease

.nav--opened .nav__btn i::before
  transform rotate(45deg)
  width 31px
  top -1px
  left -3px

.nav__btn i::after
  content ''
  position absolute
  width 25px
  height 3px
  border-radius 5px
  background $white
  top -11px
  left 0
  transition all 0.3s ease

.nav--opened .nav__btn i::after
  transform rotate(-45deg)
  width 31px
  top -1px
  left -3px


.nav--opened .nav__list
  display block


.nav__list
  list-style none
  margin 0
  display none
  padding 0

  @media screen and (min-width: 1200px)
    display block
    display flex
    width 100%
    padding-top 35px
    padding-bottom 8px
    align-items: center;
    justify-content: center;

.nav__item
  margin-bottom 10px

  @media screen and (min-width: 1200px)
    margin-left 15px
    margin-right 15px


.nav__link
  text-decoration none
  font-size 16px
  line-height 1.8
  color $white
  text-transform uppercase

.nav--opened .nav__title
  display block

.nav__title
  font-size 14px
  line-height 21px
  font-weight 600
  color white
  margin 0
  display none
  margin-top 28px
  margin-bottom 40px

  @media screen and (min-width: 375px)
    font-size 16px

  @media screen and (min-width: 1200px)
    display block
    order -5
    width 345px
    margin 0
    margin-right auto
    font-size 16px


.nav--opened .contacts
  display block

.contacts
  font-size 16px
  line-height 20px
  display none
  margin-top 40px

  @media screen and (min-width: 1200px)
    display flex
    align-items center
    width 345px
    order -3
    margin 0
    margin-left auto

.contacts div

  @media screen and (min-width: 1200px)
    margin-right  24px

.contacts__tel
  display block
  text-decoration none
  color $white

.contacts__mail
  display block
  text-decoration none
  color $green
  text-transform uppercase
  margin-bottom 27px

  @media screen and (min-width: 1200px)
    margin-bottom 0

.btn--buy
  display block
  text-decoration none
  height 50px
  width 197px
  padding 10px 6px 8px
  font-size 16px
  line-height 28px
  letter-spacing 0.6px
  color $white
  background $pink
  text-align center

  @media screen and (min-width: 1200px)
    width 125px
    flex-shrink 0
