.intro
  padding 110px 0 0
  background-color #000000
  background linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.8) 50%), $black url(../img/mb-bg@1x.png) no-repeat
  background-position 71% 40%
  background-size cover

  @media screen and (min-width: 1200px)
      display flex
      margin-top 136px
      padding-top 0
      background linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0.8) 50%), $black url(../img/bg.jpg) no-repeat 20% 20%

.intro__title
  font-size 36px
  line-height 44px
  margin 0
  color $white
  font-weight 700
  font-style italic
  text-transform uppercase
  letter-spacing -0.7px
  padding 0 6%

  @media screen and (min-width: 1200px)
    font-size 48px
    line-height 1.3
    padding 0

.intro__wrapper

  @media screen and (min-width: 1200px)
    display flex
    width 1200px
    margin 0 auto

.intro__container

  @media screen and (min-width: 1200px)
    margin-top 100px

.intro__desc
  color $white
  font-size 15px
  line-height 25px
  font-weight 400
  margin-bottom 23px
  padding 0 6%

  @media screen and (min-width: 1200px)
    font-size 18px
    line-height 28px
    padding 0
    opacity 0.8
    margin-bottom 33px

.intro__btn
  display block
  color $white
  text-decoration none
  width: 218px;
  height: 56px;
  border: solid 1px $green;
  text-align center
  padding 16px 7px
  font-size 13px
  line-height 22px
  text-transform uppercase
  margin 0 6% 5px

  @media screen and (min-width: 1200px)
    margin-left 0

.intro__img
  position relative
  overflow hidden

  @media screen and (min-width: 1200px)
    order -1
    width 600px
    margin-bottom -80px
    padding-bottom 77px
    flex-shrink 0

.intro__img img
  width 110%
  height auto
  position relative
  left -5%
  bottom -28px

  @media screen and (min-width: 1200px)
    position static
    width 531px

.intro__play
  position absolute
  right 6%
  bottom 60px
  width 117px
  height 117px
  border-radius 50%
  background $white
  box-shadow 0 4px 30px 0 #ab004d80;

  @media screen and (min-width: 1200px)
    bottom 22px
    right 27%

.intro__play::before
    position absolute
    left 44%
    top 39%
    content ''
    display inline-block
    width 0
    height 0
    border-style solid
    border-width 14px 0 14px 24.2px
    border-color transparent transparent transparent $pink

.play__tip
  display none

  @media screen and (min-width: 1200px)
      display block
      font-size 16px
      line-height 22px
      color $white
      font-weight 700
      position absolute
      top 25px
      right -150px
      text-transform uppercase