.slick-slider
{
  position: relative;

  display: block;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list
{
  position: relative;

  display: block;
  overflow: hidden;

  margin: 0;
  padding: 0;
}
.slick-list:focus
{
  outline: none;
}
.slick-list.dragging
{
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track
{
  position: relative;
  top: 0;
  left: 0;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
  display: table;

  content: '';
}
.slick-track:after
{
  clear: both;
}
.slick-loading .slick-track
{
  visibility: hidden;
}

.slick-slide
{
  display: none;
  float: left;

  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide
{
  float: right;
}
.slick-slide img
{
  display: block;
}
.slick-slide.slick-loading img
{
  display: none;
}
.slick-slide.dragging img
{
  pointer-events: none;
}
.slick-initialized .slick-slide
{
  display: block;
}
.slick-loading .slick-slide
{
  visibility: hidden;
}
.slick-vertical .slick-slide
{
  display: block;

  height: auto;

  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

.slider-first
  overflow hidden
  width 100%
  position relative
  margin-top 40px


.slider-first .slick-list
  height 300px
  width 100%

.slick-arrow
  font-size 0
  position relative
  width 20px
  height 38px
  border none
  background transparent

.slick-arrow::before
  content ''
  position absolute
  width 20px
  height 38px
  top 0
  left 0
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='38' viewBox='0 0 20 38'%3E%3Cpath fill='%23000' fill-rule='nonzero' d='M19.663 18.211L1.868.316a1.06 1.06 0 0 0-1.51 0 1.074 1.074 0 0 0 0 1.518l17.036 17.132L.358 36.098a1.074 1.074 0 0 0 0 1.518c.206.207.482.318.751.318s.546-.103.751-.318l17.795-17.895a1.072 1.072 0 0 0 .008-1.51z'/%3E%3C/svg%3E");

.slick-disabled
  opacity 0.1

.slick-prev
  position absolute
  transform rotate(180deg) translateX(0%)
  top 50%
  left 6%
  z-index 2

.slick-next
  position absolute
  transform translateX(0%)
  top 50%
  right 6%

.slider-first .slick-slide
  height 100%
  overflow hidden

.slider-second
  width 320px
  margin 0 auto
  padding-bottom 80px

.bef
  position relative
  margin-bottom 22px
  display block
  padding-top 12px

.bef span
  display flex
  align-items center
  justify-content center
  font-size: 8px;
  line-height 8px
  color $white
  font-weight: 600;
  width 47px
  height 24px
  border-radius 12px
  background $pink
  position absolute
  top 0
  left 50%
  transform translateX(-50%)

.aft
  position relative
  margin-bottom 22px
  display block
  padding-top 12px

.aft span
  display flex
  align-items center
  justify-content center
  font-size: 8px;
  line-height 8px
  color $black
  font-weight: 600;
  width 47px
  height 24px
  border-radius 12px
  background $green
  position absolute
  top 0
  left 50%
  transform translateX(-50%)

.slick-dots
  margin 0
  padding 0
  list-style none
  position absolute
  bottom 50px
  left 50%
  transform translateX(-50%)
  display flex
  font-size 0
  align-items center
  height 10px

.slick-dots li
  width 7px
  height 7px
  background rgba(228 19 119, 0.3)
  border-radius 50%
  margin-right 15px

.slick-dots li:last-child
  margin-right 0

.slick-dots .slick-active
  background #e41377
  width 10px
  height 10px

.slider-second__slide .name
  font-size 20px
  line-height 27px
  color $black
  font-weight 600
  display block
  text-align center
  margin-bottom 6px

.slider-second__slide .insta-link
  text-decoration none
  font-size 16px
  line-height 22px
  color $pink
  font-weight 700
  display block
  margin-bottom 25px
  text-align center
