.success
  background #f8f8f8
  padding-top 50px

  @media screen and (min-width: 1200px)
    padding-top 71px

.success__title
  margin 0 6%
  text-align center
  font-size 24px
  line-height 33px
  color $black
  font-weight 700
  font-style italic
  text-transform uppercase

  @media screen and (min-width: 1200px)
    font-size 36px
    line-height 49px
    margin 0
    align-items center
    margin-bottom 20px

.success__desc
  margin 12px 6% 40px
  font-size 15px
  line-height 25px
  color $black
  opacity 0.8
  text-align center

  @media screen and (min-width: 1200px)
    font-size 18px
    line-height 28px
    margin 0 auto
    margin-bottom 68px
    width 634px